Repository openstreetmap/openstreetmap-website, pull requests merged in 2024-11, with the labels that each got.

#4464 Remove hardcoded rate limit value. Fixes #4427
  app/models/user.rb
  config/settings.yml
  config/settings/test.yml
  test/controllers/api/changeset_comments_controller_test.rb
Labels: changes requested

#5312 Don't update deactivates_at if block was already viewed
  app/controllers/user_blocks_controller.rb
  test/controllers/user_blocks_controller_test.rb
Labels: bug, moderation

#5315 Use CSS animations to show delayed loading spinner
  app/assets/javascripts/index.js
  app/assets/javascripts/richtext.js
  app/assets/stylesheets/common.scss
Labels: javascript

#5316 Remove unused timer from new note js controller
  app/assets/javascripts/index/new_note.js
Labels: javascript

#5318 Add note on assigning issues
  CONTRIBUTING.md
  FAQ.md
Labels: dx

#5319 Minor changes to docs
  CONFIGURE.md
  CONTRIBUTING.md
  DOCKER.md
  FAQ.md
Labels: dx

#5297 Add status filter to user's note page
  app/controllers/notes_controller.rb
  app/views/notes/index.html.erb
  config/locales/en.yml
  test/controllers/notes_controller_test.rb
Labels: notes

#5314 Note subscriptions API
  app/abilities/api_capability.rb
  app/controllers/api/note_subscriptions_controller.rb
  config/routes.rb
  test/controllers/api/note_subscriptions_controller_test.rb
Labels: api, notes

#4316 Set max length of block reason
  app/models/user_block.rb
Labels: moderation

#5357 Resolve erb_lint deprecations
  .erb_lint.yml
  .github/workflows/lint.yml
Labels: refactor
